.embla_main {
    min-width: 100%;
   
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport_main {
    overflow: hidden;
  }
  .embla__container_main {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    min-width: 100%;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide_main {
    flex: 0 0 var(--slide-size);
    min-width: 100%;
  }
  .embla__slide__number_main {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    min-width: 100%;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
   margin-top: 38px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .embla__controls_main {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  .embla__button_main {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button_main:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg_main {
    width: 35%;
    height: 35%;
  }
  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
  }
  
  .main_image {
    min-width: 90%;
    min-height:100%
  }

  .banner {
    display: flex;
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 10;
    background: linear-gradient(to right,rgba(0,0,0),60%,transparent,transparent);
  }

  .banner_header {
    color: white;
    padding: 20px;
    font-size: 60px;
    bottom: 23px;
    position: absolute;
    left: 4vw;
  }

  .banner_title {
font-size: 4vw;
font-weight: 800;
    color: darkgray;
  }

  .banner_description {
    width: 80%;
    font-size: 1.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    
   
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .button {
    border: 2px solid brown;
    padding: 2px;
    font-size: 3vw;
    background: transparent;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;
  }

  @media screen and (max-width:550px) {
    .banner {
      display: flex;
      width: 50%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 10;
      background: linear-gradient(to right,rgba(0,0,0),60%,transparent,transparent);
    }
  }