@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #35012C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding-top: 64px;
}

@media only screen and (max-width: 600px) { 
  body {
    padding-top: 119px;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
