.container {
    min-width: 100%;
}

.container1 {
    margin:25px;
} 
.item {
    color: #fff;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    max-width: 80% !important
   
}

.image {
    width:80% !important;
    height:25rem;
    object-fit: fill;
}

.searchbar {
    width: 60%;
    display: flex;
}

.combobox {
    background: #35012C;
    color: #fff;
    display: block;
}

.suggestion_row {
    display: flex;
    margin: 20px;
    align-items: center;
    gap: 10px;
}

break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }

.MuiInputBase-root {
    width: 100% !important;
}

.suggestionbox {
    position: absolute;
    background: #35012C;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.light_text {
    color: rgb(156, 156, 156);
    font-family: Okra, Helvetica, sans-serif;
    font-size: smaller
}

.search_name {
    font-weight: 700;
    font-family: sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

   
    @media only screen and (max-width: 600px) {
        .container {
            height:350px
        }

        .card{
           
            width:120px;
            height:160px;
        }

        .combobox {
            background: #35012C;
            color: #fff;
            display: none;
        }
    
        .card_image {
            width:120px;
            height:160px;
            object-fit:fill;
            border-radius: 15px;
    }
}